@import url("https://fonts.googleapis.com/css2?family=Exo+2:wght@400;600;700&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
  font-family: "Exo 2", sans-serif;
}

*::after,
*::before {
  box-sizing: inherit;
}

html {
  font-size: 16px;
  line-height: 1.5;
}

a {
  text-decoration: none;
}

p, span {
  font-size: clamp(1rem, 1.3vw, 1.6rem);
}

table, button, a, input, select {
  font-size: clamp(1rem, 1.3vw, 1.6rem);
}

h6 {
  font-size: clamp(1.5rem, 2.5vw, 2.2rem);
}

h5 {
  font-size: clamp(1.7rem, 2.7vw, 2.4rem);
}

h4 {
  font-size: clamp(1.9rem, 2.7vw, 2.6rem);
}

h3 {
  font-size: clamp(2.1rem, 2.9vw, 2.8rem);
}

h2 {
  font-size: clamp(2.3rem, 3.1vw, 3rem);
}

h1 {
  font-size: clamp(1.5rem, 1.3vw - 1rem, 3.3rem);
}

.site-header {
  min-width: 100%;
  max-height: 31vh;
  position: relative;
  display: unset;
}
.site-header .header-top {
  display: flex;
  align-items: flex-start;
  background: #16242E;
  padding: 1em;
  gap: 2em;
}
.site-header .header-top .logo-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto 0;
  max-width: 20%;
}
.site-header .header-top .logo-container img {
  width: 100%;
  height: auto;
}
.site-header .header-top .nav-divider {
  background-color: #394957;
  min-width: 2px;
  min-height: 8vh;
  align-self: center;
}
.site-header .header-top .headings-container {
  margin: auto 0;
  display: flex;
  gap: 1em;
  max-width: 25%;
  flex-wrap: wrap;
}
.site-header .header-top .headings-container .heading-one {
  display: flex;
}
.site-header .header-top .headings-container .heading-one h1 {
  font-style: italic;
}
.site-header .header-top .headings-container .heading-one h1:first-child {
  color: #8E4129;
}
.site-header .header-top .headings-container .heading-one h1:last-child {
  color: #A3A7AB;
}
.site-header .header-top .headings-container .heading-two {
  display: flex;
}
.site-header .header-top .headings-container .heading-two h1 {
  font-style: italic;
}
.site-header .header-top .headings-container .heading-two h1:first-child {
  color: #655237;
}
.site-header .header-top .headings-container .heading-two h1:last-child {
  color: #A3A7AB;
}
.site-header .header-top input[type=checkbox] {
  display: none;
}
.site-header .header-top .site-nav {
  max-width: 47%;
}
.site-header .header-top .site-nav .nav-links {
  display: flex;
  list-style-type: none;
  gap: 0.1em;
  align-items: center;
  flex-wrap: wrap;
}
.site-header .header-top .site-nav .nav-links .nav-divider {
  background-color: #394957;
  min-width: 2px;
  min-height: 8vh;
  align-self: center;
}
.site-header .header-top .site-nav .nav-links li {
  padding: 1em;
  display: flex;
  align-items: center;
  justify-content: center;
}
.site-header .header-top .site-nav .nav-links li a {
  color: white;
}
.site-header .header-top .site-nav .nav-links li a svg {
  width: 1.5em;
  height: 1.5em;
}
.site-header .header-top .site-nav .nav-links li:first-child a svg {
  fill: white;
}
.site-header .header-top .site-nav .nav-links li:nth-child(2) a svg {
  fill: white;
}
.site-header .header-top .site-nav .nav-links li:nth-child(3) a svg {
  fill: white;
}
.site-header .header-top .site-nav .nav-links li:nth-child(4) a {
  display: flex;
  align-items: center;
  gap: 0.2em;
}
.site-header .header-top .site-nav .nav-links li:nth-child(4) a svg {
  fill: white;
}
.site-header .header-top .site-nav .nav-links li:nth-child(5) a {
  display: flex;
  align-items: center;
  gap: 0.2em;
}
.site-header .header-top .site-nav .nav-links li:nth-child(5) a svg {
  fill: white;
}
.site-header .header-top .site-nav .nav-links li:nth-child(7) {
  fill: red;
}
.site-header .header-top .site-nav .nav-links li:nth-child(8) {
  fill: #008AEE;
}
.site-header .header-top .site-nav .nav-links li:nth-child(10) svg {
  fill: #5FB865;
}
.site-header .header-top .site-nav .nav-links li:nth-child(10) span {
  color: white;
}
.site-header .header-top .hamburger-btn {
  display: none;
  align-items: center;
  gap: 0.4em;
  padding: 1em;
  fill: white;
}
.site-header .header-top .hamburger-btn svg {
  width: 2em;
  fill: white;
}
.site-header .header-top .hamburger-btn:hover {
  cursor: pointer;
}
.site-header .header-bottom {
  display: none;
  justify-content: center;
  background-color: #1C2D3A;
  align-items: center;
  position: sticky;
  flex: 1 1 100%;
  height: 100%;
  top: 0;
  z-index: 1;
}
.site-header .header-bottom .home-badge {
  display: none;
  border-radius: 5em;
  padding: 0.2em 0.5em;
  align-items: center;
  min-height: 5vh;
  background-color: #008AEE;
  justify-content: center;
  flex: 1 1 0%;
}
.site-header .header-bottom .home-badge svg {
  fill: white;
  width: 1.5em;
  height: 1.5em;
}
.site-header .header-bottom .badges-slide-links {
  display: flex;
  gap: 0.4em;
  height: 100%;
  padding: 1em;
  flex: 1 1 80%;
  height: 100%;
  overflow: hidden;
}
.site-header .header-bottom .badges-slide-links .badge-slide {
  display: none;
  border-radius: 5em;
  padding: 0.2em 0.5em;
  align-items: center;
}
.site-header .header-bottom .badges-slide-links .badge-slide:first-child {
  background-color: #008AEE;
}
.site-header .header-bottom .badges-slide-links .badge-slide:nth-child(2) {
  background-color: #F2992F;
}
.site-header .header-bottom .badges-slide-links .badge-slide:nth-child(3) {
  background-color: #2CCACA;
}
.site-header .header-bottom .badges-slide-links .badge-slide:nth-child(4) {
  background-color: #33BB5A;
}
.site-header .header-bottom .badges-slide-links .badge-slide:nth-child(5) {
  background-color: #BD5FE9;
}
.site-header .header-bottom .badges-slide-links .badge-slide:nth-child(6) {
  background-color: #EE4700;
}
.site-header .header-bottom .badges-slide-links .badge-slide:nth-child(7) {
  background-color: #E59D48;
}
.site-header .header-bottom .badges-slide-links .badge-slide:nth-child(8) {
  background-color: #DC5426;
}
.site-header .header-bottom .badges-slide-links .badge-slide:nth-child(9) {
  border: 2px solid #793F30;
  background: transparent;
}
.site-header .header-bottom .badges-slide-links .badge-slide:nth-child(10) {
  background-color: #63C7C9;
}
.site-header .header-bottom .badges-slide-links a {
  text-transform: uppercase;
  color: white;
}
.site-header .header-bottom .badges-slide-links a svg {
  width: 1em;
  height: 1em;
  fill: white;
}

.quick-search-section {
  max-height: 50vh;
  background-color: #008AEE;
  display: none;
  justify-content: center;
  align-items: center;
  height: 50vh;
  position: relative;
  z-index: 2;
}
.quick-search-section .filters-wrapper {
  display: flex;
  flex-direction: column;
  background-color: white;
  width: 70vw;
  max-width: 70vw;
  border-radius: 1em;
  padding: 1em;
  gap: 1em;
}
.quick-search-section .filters-wrapper .heading-container {
  display: flex;
  align-items: center;
  gap: 1em;
}
.quick-search-section .filters-wrapper .heading-container svg {
  max-width: 2em;
  max-height: 2em;
}
.quick-search-section .filters-wrapper .quick-search-form {
  display: flex;
  align-items: center;
  gap: 1em;
  flex-wrap: wrap;
}
.quick-search-section .filters-wrapper .quick-search-form #search {
  flex: 1 1 73%;
  padding: 0.8em;
  border-radius: 2em;
  border: 2px solid #008AEE;
  outline: none;
}
.quick-search-section .filters-wrapper .quick-search-form #search-btn {
  flex: 1 1 18%;
  padding: 0.8em;
  border-radius: 2em;
  border: none;
  background: #008AEE;
  color: white;
  font-weight: bold;
  cursor: pointer;
}
.quick-search-section .filters-wrapper .labels-container {
  display: flex;
  align-items: center;
  gap: 0.5em;
  flex-wrap: wrap;
}
.quick-search-section .filters-wrapper .labels-container .label {
  padding: 0.5em;
  border: 2px solid #008AEE;
  border-radius: 2em;
  flex: 0 1 13.5%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.quick-search-section .filters-wrapper .labels-container .label:nth-child(5) {
  border: 2px solid #E06941;
}
.quick-search-section .filters-wrapper .labels-container .label:nth-child(6) {
  border: 2px solid #E06941;
}

.quick-search-section::after {
  content: "";
  display: block;
  width: 0;
  height: 0;
  border-left: 12px solid transparent;
  border-right: 12px solid transparent;
  border-bottom: 29px solid #008AEE;
  position: absolute;
  left: 3.3em;
  top: -18px;
}

.big-slider-section {
  overflow: hidden;
  position: relative;
  height: 70vh;
  max-height: 70vh;
  width: 98.9vw;
}
.big-slider-section .slide {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}
.big-slider-section .slide img {
  width: 100%;
  height: 100%;
}
.big-slider-section .active {
  opacity: 1;
}
.big-slider-section .prev-slide,
.big-slider-section .next-slide {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 30px;
  font-weight: bold;
  color: white;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 10px 15px;
  border: none;
  cursor: pointer;
}
.big-slider-section .prev-slide:hover,
.big-slider-section .next-slide:hover {
  background-color: rgba(0, 0, 0, 0.8);
}
.big-slider-section .prev-slide {
  left: 0;
}
.big-slider-section .next-slide {
  right: 0;
}

.advert-section {
  display: none;
  max-width: 96vw;
  padding: 1em;
  flex-wrap: wrap;
  align-items: center;
  gap: 1em;
}
.advert-section .advert {
  flex: 0 1 23%;
  display: flex;
  align-items: flex-start;
  gap: 0.5em;
}
.advert-section .advert svg {
  flex: 0 1 30%;
}
.advert-section .advert .advert-text {
  flex: 0 1 70%;
  display: flex;
  flex-direction: column;
  gap: 1em;
}
.advert-section .advert .advert-text p:first-child {
  font-weight: bold;
}
.advert-section .advert .advert-text p:last-child {
  opacity: 0.5;
}
.advert-section .advert:last-child .advert-text {
  flex: 0 1 80%;
}/*# sourceMappingURL=combined.css.map */